@media  screen and (min-width: 1280px),screen and (max-width: 1280px) {#dishes {width: 850px;}}
@media  screen and (max-width: 1024px) {#dishes {width: 680px;}}
@media  screen and (max-width: 800px) {#dishes {width: 510px;}}
@media  screen and (max-width: 578px) {#dishes {width: 340px;}}
@media  screen and (max-width: 340px) {#dishes {width: 170px;}}


@media  screen and (max-width: 880px) {

#Section-one {
	border-top: solid 2px rgba(255,255,255,.20);;
	width: 80%;
	display: block;
	margin-right: 10%;
	margin-left: 10%;
	box-sizing: border-box;
}

#three {
    height: 860px;
}

#Section-two {
	border-top: solid 2px rgba(255,255,255,.20);
	width: 80%;
	display: block;
	margin-right: 10%;
	margin-left: 10%;
	box-sizing: border-box;
}

aside#Section-one > div { float: left; }

#review {width: 100%;}

#form {width: 100%;}

#vt {width: 80%;}

}

@media  screen and (max-width : 620px) {

#one {
	padding-top: 50px;
	height: 750px;
}

#vt {
    display: none;
}
#vb {
	display: none;
}

#nav-bar{display: block;}

#nav:focus{display: none;}

#nav:hover{background-color: rgba(255,255,255,.20);}

#Section-one {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	
}

#three {
    height: 1050px;
}

#Section-two {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;	
}



#form {height: 620px;}

input[type="text"] {width: 100%;}

#mess{
	width: 100%;
	position: absolute;
	top: 195px;
	left: 0;
	margin-left: 0;
}

input[type="submit"] {
	width: 100%;
	position: absolute;
	top:455px;
	left: 0;
}

}

@media  screen and (max-width : 360px) {

aside#Section-one > div {padding: 15px 0px 0px 5px;}

aside#Section-two > div {padding: 15px 0px 0px 5px;}

}